.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4rem 0 2rem 0;
  &__row-my {
    width: 100%;
  }
  &__row-his {

  }
  &__content-my {
    margin-left: 1rem;
    font-size: 2rem;
    background: $background;
    @include min-max-m(30rem, 40rem, 1rem, 1rem);
    &-time {
      color: $darkgreen;
      margin: 0 0 0 auto;
      width: 6rem;
    }
  }
  &__content-his {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 2rem;
    background: $background;

    min-width: 30rem;
    max-width: 40rem;
    padding: 1rem;
  box-sizing: border-box;
 
    &-time {
      color: $darkgreen;
      margin: 0 0 0 auto;
      width: 6rem;
    }
  }
  &__answer {
    align-self: flex-end;
    background: $background;
    width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem;
    padding: 0.5rem;
    &-text {
      font-size: 2rem;
    }
    &-time {
      font-size: 1.2rem;
      color: $darkgreen;
    }
  }
}
