.right__top {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1rem 1.4rem 2.5rem;
  margin: 0 1rem;
  border-bottom: 0.1rem solid $darkgreen;
  &-left {
    display: flex;
    align-items: center;
  }
  &-avatar {
    width: 4.5rem;
    height: 4.5rem;
  }
  &-nickname {
    font-size: 1.4rem;
    color: $black;
    margin-left: 1rem;
  }
  &-dots {
    color: $darkgreen;
    display: inline-block;
    & svg {
      width: 2.8rem;
      height: 2.8rem;
      fill: $darkgreen;
      &:hover {
        fill: $lightgreen;
      }
    }

  }
}
