{{!< carcass}}

<div class='lack'>
  <h1 class='lack__title'>404</h1>
  <h3 class='lack__description'>Нет такой страницы, извините</h3>
  <div class='lack__wrap'>
    <img src='../assets/img/Q600.png' alt='' />
  </div>
  <div class='lack__link'>
    <a href='./index.hbs'>Возвращайтесь к чатланам</a>
  </div>
</div>