{{!< carcass}}

<div class='wrap'>
  {{>"data-list/avatar"}}
  <div class="change__avatar">
  <p>Выберете вашу фотографию</p>
    <form class='change__avatar-file' enctype='multipart/form-data'>
      <label class='label'>
        <img src='../assets/img/clip.svg' alt='adding a file' />
        <input type='file' name='avatar' />
      </label>
      <button type='submit' class='sending__button'><img src='../assets/img/send.svg' alt='send' />
      </button>
    </form>
  </div>
  <form class='change__form'>
    {{#each list}}
      {{>"change-data/change-data"}}
    {{/each}}
  <button type='submit' class='btn'>Сохранить</button>
  <div class="btn"><a href="./profile.hbs">Вернуться назад</a></div>
  </form>
</div>

