{{!< carcass}}

<div class='wrap'>
  {{>"data-list/avatar"}}
  <form class='change__form'>
    {{#each list}}
      {{>"change-data/change-data"}}
    {{/each}}
  <button type='submit' class='btn'>Сохранить</button>
  <div class="btn"><a href="./profile.hbs">Вернуться назад</a></div>
  </form>
</div>

