{{!< carcass}}

<div class='wrap'>
  {{>"data-list/avatar"}}
  <div class="change__avatar">
  <p>Выберете вашу фотографию</p>
    <form class='change__avatar-file' enctype='multipart/form-data'>
      <label class='label'>
        <img src='../assets/img/clip.svg' alt='adding a file' />
        <input type='file' name='avatar' />
      </label>
      <button type='submit' class='sending__button'><img src='../assets/img/send.svg' alt='send' />
      </button>
    </form>
  </div>
</div>

