{{!< carcass}}

<div class='wrap'>
  {{>"data-list/avatar"}}
  <div class='name'>Семен</div>
  <div class='data'>
    {{>"data-list/data-list"}}
  </div>
  <div class="management">
    <a href='./changing-profile.hbs'>Изменить данные</a>
    <a href='./changing-password.hbs'>Изменить пароль</a>
    <a href='./index.hbs'>Выйти</a>
  </div>
</div>