{{!< carcass}}

<div class='wrap'>
  <h1>Регистрация</h1>
  <form class='change__form'>
    {{#each reg}}
      {{>"change-data/change-data"}}
    {{/each}}
  <button type='submit' class='btn'>Сохранить</button>
  <div class="btn"><a href="./index.hbs">Вернуться назад</a></div>
  </form>
</div>