$black: #232323;
$background: #e2ffe9;
$green: #4ae16b;
$darkgreen: #036a19;
$gray: #efefef;
$darkgray: #979595;
$red: #e10404;
$active: #b9f1c5;
$lightgreen: #048a21;
$container-width: 90%;

$duration: 0.15s;
